/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 */
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
     display: block;
   }
   body {
     line-height: 1;
   }
   ol, ul {
     list-style: none;
   }
   blockquote, q {
     quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
     content: '';
     content: none;
   }
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }
/* END OF RESET */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/* UPLOAD DA FONT, EM DOIS WEIGHTS DIFERENTES */
@font-face {
  font-family: Alliance;
  src: url(fonts/AllianceNo.2-Regular.otf);
  font-weight: 300;
}
   
@font-face {
  font-family: Alliance;
  src: url(fonts/AllianceNo.2-SemiBold.otf);
  font-weight: 700;
}
   
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/* DECLARAR VARIÁVEIS GLOBAIS */   
:root {
     --black: #000000;
     --white: #F0F0F0;
     --antwhite: #D9D9D9;
   }
   
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/* CSS GLOBAL > TODAS AS PÁGINAS */

/* BODY */
* {
  background-color: var(--white);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* NAV */
/* NAVEGADOR HAMBURGER */
nav {
  z-index: 1;
}

/* LOGO DO NIT NO NAV */
.navbar > a > img {
  width: 4em;
  height: auto;
  position: relative;
  left: 3rem;
}

#menuDireita {
  float: right;
}

/*ÍCONE DO MENU */
.linhasMenu {
  height: 1.6rem;
  width: 2rem;
  position: fixed;
  top: 17px;
  right: 3rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

/* LINHAS DO MENU */
.linhasMenu .linha {
  height: .25rem;
  width: 100%;
  border-radius: 10px;
  background-color: var(--black);
  transition: all 100ms ease-in-out;
}

/* LINHAS DO MENU QUANDO ESTÁ EM X */
.linhasMenu.ativado .linhaTopo{
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 100%;
}

/* LINHAS DO MENU QUANDO ESTÁ EM X */
.linhasMenu.ativado .linhaMeio{
  opacity: 0;
  transition: all 100ms ease-in-out;
  transform-origin: center;
}

/* LINHAS DO MENU QUANDO ESTÁ EM X */
.linhasMenu.ativado .linhaBaixo{
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 100%;
}

.itensMenu {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  left: 100%;
  background-color: var(--white);
  overflow-x: hidden;
}

#listaItens {
  text-align: center;
  padding-top: 6rem;
}

#listaItens > li > a {
  font-family: Alliance, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  text-decoration: none;
}

#listaItens > li > a:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* MAIN */
/* TÍTULOS */
h1.titulos{
  font-family: Alliance, sans-serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.5rem;

  padding-top: 7rem;
  padding-bottom: 5rem;
  left: 3rem;
  width: 40%;
  position: relative;
}

/* DESCRIÇÃO DA PÁGINA || SUBTÍTULOS */
.descricao {
  font-family: Alliance, sans-serif;
  font-weight: 300;
  color: var(--black);
  
  font-size: 1.5rem;
  line-height: 2rem;
  width: 60%;
  
  position: relative;
  left: 33%;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* LINKS */
/* LINKS VISITADOS */
a:visited {
  color: var(--black);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* BOLD */
strong {
  font-weight: 700;
}

.fundoPreto, .fundoPreto:visited{
  color: var(--white);
  background-color: var(--black);
}

/* FOOTER */
footer{
  border-top: solid 1pt var(--black);
  margin-top: 6em;
}

/* END OF CSS GLOBAL */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/* INDEX PAGE */
/* TÍTULO */
#landTitulo {
  position: relative;
  left: 33%;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* INDEX > TIMELINE PARTE FIXA */
/* PARA QUALQUER VH... DIV FIXA */
div#fixa {
  width: 98vw;
  height: 100vh;
}
   
/* SECÇÃO FETCH */
section#NovoPost {
  width: 99vw;
  margin: 0 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section#NovoPost > article {
  background-color: var(--white);
  display: block;
  padding: 10% 0 5% 0;
  text-align: center;
  border: .5px solid var(--black);
}

section#NovoPost > article.blank {
  background-color: var(--white);
}
section#NovoPost > article.blank:hover {
  background-color: var(--white);
}

section#NovoPost > article > a > h1 {
  background-color: none;
  font-family: Alliance, sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  text-align: left;
  line-height: 1.8vw;
  max-width: 60%;
  position:relative;
  left: -3vw;

  float: left;
  position: relative;
  left: 4vw;
}

section#NovoPost > article > span.data {
  font-family: Alliance, sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.8vw;

  float: right;
  position: relative;
  right: 4vw;
}

section#NovoPost > article > a > h1, section#NovoPost > article > span.data {
  display: inline-block;
  padding-top: .5rem;
}

section#NovoPost > article > figure > img {
  width: 25vw;
  height: 25vw;
  object-fit:cover;
}

/* SECÇÃO FETCH > HOVER */
section#NovoPost > article:hover, section#NovoPost > article:hover > figure, section#NovoPost > article:hover > a > h1, section#NovoPost > article:hover > span.data {
  background-color: var(--black);
  color: var(--antwhite);
  transition: 0.3s;
}
 
/* BOTÕES > ELEMENTO HTML FIXO */
button {
  font-family: Alliance, sans-serif;
  font-weight: 700;
   
  display: block;
  position: absolute;
  bottom: 60px;
   
  padding: .5em 0;
  margin: 0 4vw;
   
  border-radius: 111px;
  border: 1px solid var(--black);
  background-color: var(--antwhite);
}

.bi-arrow-left-circle {
  color: var(--black);
}
   
button:hover {
  background-color: var(--black);
  color: var(--antwhite);
  transition: 0.3s;
}

button:hover> .bi-arrow-left-circle  {
  background-color: var(--black);
  color: var(--antwhite);
  transition: 0.3s;
}

button#timeline:hover > #boot-icon, button#timeline:hover > #boot-icon2  {
  transition: 0.3s;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* INDEX > FILTROS PARTE FIXA*/
/* ASIDE > FILTROS */
aside {
  position: fixed;
  float: right;
  top: 50%;
  right: 3.5em;

  transition-property: right;
  transition-timing-function: ease-in-out;
  transition-duration: 1000ms;
  z-index: 1;
}

aside:hover {
  right: 11em;
}


.filtros{
  text-align:left;
  width: 12em;
  padding: .5em 1.2em .5em 1.2em;
}




  @media only screen and (min-width: 800px) {
    aside {
      right: 4.3em;
    }
    aside:hover {
      right: 12em;
    }
  }

  @media only screen and (min-width: 1000px) {
    aside {
      right: 5em;
    }
    aside:hover {
      right: 13em;
    }
  }

  @media only screen and (min-width: 1200px) {
    aside {
      right: 5.8em;
    }
    aside:hover {
      right: 14.2em;
    }
  }
  
li {
  position: relative;
  padding: 1.2em 0;
}
  
.filtros {
  text-align: left;
  width: 12em;
  padding: .5em 1.2em .5em 1.2em;
}
  
.bi{
  background-color: var(--antwhite);
  margin-right: 1.5em;
}
   
/* BOTÕES > JS */
.btnHover {
  background-color: var(--black);
  color: var(--antwhite);
}
   
/* ICON > ARROW DOWN */
#boot-icon, #boot-icon2 {
  background-color: var(--antwhite);
  margin: 0 1.2em;
}
   
/* ICON > ARROW DOWN > JS */
.seta {
  background-color: var(--black);
  color: var(--antwhite);
}

/* END OF INDEX PAGE */ 
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/* SOBRE PAGE */
/* SOBRE = SOMENTE DA PÁGINA SOBRE*/

/* TÌTULOS */
h1.sobreTitulos {
  font-size: 5rem;
  line-height: 5.5rem;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* SECÇÃO COM A CAIXA TAGGAT E TAGLINE */
#sobreSeccaoSubtitulos {
  margin-top: 16.915119363395226vh;
  user-select: none;
}

/* CONTENTOR || CAIXA COM OS SUBTÍTULOS "TAGGAT" E "TAGLINE" */
/* INSPIRAÇÃO PARA O CONTENTOR - https://www.w3docs.com/snippets/html/how-to-make-a-div-fill-the-remaining-width.html*/
#sobreContentorSubtitulos {
  border: solid 1pt var(--black);
  cursor: pointer;

  font-family: Alliance, sans-serif;
  font-weight: 700;

  font-size: 2.6755852842809364vw;
  line-height: 3.27vw;
}

/* SUBTÍTULOS */
#sobreSubtituloTaggat, #sobreSubtituloTagline {
  padding: 2.5rem;
}

#sobreSubtituloTagline {
  padding-left: 60%;
}

#sobreSubtituloTaggat {
  float: left;
  border-right: solid 1pt var(--black);
}

/* SUBTÍTULOS VERSÃO A PRETO*/
.sobreVersaoPreto {
  background-color: black;
}

h2.sobreVersaoPreto {
  color: var(--white);
}

/* INFORMAÇÃO DENTRO DAS CAIXAS DOS SUBTÍTULOS */
#sobreContentorInfo {
  display: none;
  background-color: var(--black);
  border-style: none;
}

#sobreInfoTaggat, #sobreInfoTagline {
  display: none;
  background-color: var(--black);

  padding: 5% 0 5% 0;
  width: 60%;
}

.infoPropriedades > p {
  background-color: var(--black);

  font-family: Alliance, sans-serif;
  font-weight: 300;
  color: var(--white);
  
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
  padding-bottom: 2rem;
  
  position: relative;
  left: 3rem;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */
footer div {
  display: inline-block;
  padding-left: 33%;
}

.sobreFooter {
  padding: 6rem 3rem 6rem 0;
  font-size: 1.0702341137123745vw;
  line-height: 1.605351170568562vw;

  width: 40%;
}

.sobreFooter p {
  font-family: Alliance, sans-serif;
  padding-bottom: 4.5092838196286475vh;
}

section {
  margin: 0;
}

/* END OF SOBRE PAGE */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/* ARCHIVE PAGE */
#list {
  font-family: Alliance;
  font-weight: 500;
}

#list > article  > figure {
  display: none;
}




#list > article  >  figure > img {  
  height: 21.2vw;
  width: 21.2vw;
  object-fit: cover;
  border: 20px solid #000; 
}

#list > article {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  box-sizing: border-box;
  margin: 0rem auto;
  grid-column-gap: 30px;
  padding: 2vw 0;
  border-top: 1px solid #000;
}

#list > article:last-child{
  border-bottom: 1px solid #000;
}

#list > article  > a {
  grid-column: 5/8;
  align-items: flex-start;
  text-decoration-line: none;
  background: rgba(0, 128, 0, 0.1);
}

.meta {
  grid-column: 8/10;
  float: right;
}

#list  > article:hover {
  background-color: #000!important;
}

#list  > a {
  background-color: rgb(240, 240, 240)
}
  
a:link {
  color: #000;
}
    
#list  > article:hover > a > h1 {
  background-color: #000!important;
  color: #fff!important;
}

#list  > article:hover > .meta > span:nth-child(2) {
  background-color: #000!important; 
  color: #fff!important;
}

#list  > article > .meta > span:first-child {
  color: #000;
  border-radius: 111px;
  padding: 2px 20px;
  font-size: 10px;
  border: 1px solid var(--black);
  background-color: var(--antwhite);
  font-weight: 700;
}

#list  > article:hover > a > h1 {
  background-color: #000!important;
  color: #fff!important;
}

#list  > article:hover > .meta > span:nth-child(2){
  background-color: #000!important; 
  color: #fff!important;
}


#list  > article > .meta > span:nth-child(2) {
  float:right;
  margin-right: 35px;
}

#list  > article:hover > .meta {
  background-color: #000!important;
  color: #fff!important;
}
      
span {
  text-transform: uppercase;
}


aside{
  position: fixed;
  top: 50%;
}

aside#archive{
  background-color: #f0f;
  position: fixed;
  top: 25%;
}

#list  > article > .meta > span:nth-child(2) {
  float:right;
  margin-right: 35px;
}

#list  > article:hover > .meta {
  background-color: #000!important;
  color: #fff!important;
}

span {
  text-transform: uppercase;
}

#nit {
  width: 4em;
  height: auto;
  position: relative;
  left: 3rem;
}

/* END OF ARCHIVE PAGE */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/