/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 */
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
     display: block;
   }
   body {
     line-height: 1;
   }
   ol, ul {
     list-style: none;
   }
   blockquote, q {
     quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
     content: '';
     content: none;
   }
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }
   /* END OF RESET */
   
   /*------------------------------------------------------------------------------------------------------------------------------*/
   
   /* UPLOAD DA FONT, EM DOIS WEIGHTS DIFERENTES */
   @font-face {
       font-family: Alliance;
       src: url(fonts/AllianceNo.2-Regular.otf);
       font-weight: 300;
   }
   
   @font-face {
       font-family: Alliance;
       src: url(fonts/AllianceNo.2-SemiBold.otf);
       font-weight: 700;
   }
   
   /*------------------------------------------------------------------------------------------------------------------------------*/
   
   :root {
     --black: #000000;
     --white: #F0F0F0;
     --antwhite: #D9D9D9;
   }
   
   /*------------------------------------------------------------------------------------------------------------------------------*/
   /* INDEX */
   /* BODY */
   * {
       background-color: var(--white);
   }
   
   /*------------------------------------------------------------------------------------------------------------------------------*/
   /* INDEX > TIMELINE PARTE FIXA*/
   /* PARA QUALQUER VH... DIV FIXA */
   div#fixa {
       width: 98vw;
       height: 100vh;
   }
   
   /* LOGO DO NIT NO HEADER */
   header>img {
       width: 4em;
       height: auto;
       position: relative;
       left: 3vw;
   }
   
   /* NAVEGADOR HAMBURGER */
   nav {
       font-size: 1.7em;
       position: fixed;
       top: 1vw;
       right: 4vw;
       z-index: 1;
   }
   
   /* SECÇÃO FIXA */
   section.PagFixa {
       padding: 4vh 0;
   }
   
   /* SECÇÃO FETCH */
   section#NovoPost {
      margin: 0;
      padding: 0;
   }
   
   /* H1 > ELEMENTO HTML FIXO */
   h1.PagFixa {
       font-family: Alliance, sans-serif;
       font-weight: 700;
   
       font-size: 8.64321608040201vw;
       line-height: 17.94425087108014vw;
       width: 66%;
   
       position: relative;
       left: 33%;
   }
   
   /* H1 > ELEMENTO HTML FIXO > ALINHAMENTO À ESQ */
   h1.AlinhamentoEsq {
       font-size: 5.752508361204013vw;
       line-height: 6.688963210702341vw;
   
       padding-top: 12.312997347480106vh;
       padding-bottom: 5.150501672240803vw;
       left: 3vw;
       width: 30%;
   }
   
   /* P > ELEMENTO HTML FIXO */
   p.PagFixa {
       font-family: Alliance, sans-serif;
       font-weight: 300;
       color: var(--black);
   
       font-size: 2.41vw;
       line-height: 3.27vw;
       width: 60%;
   
       position: relative;
       left: 33%;
   }
   
   /* P > ELEMENTO HTML FIXO > ALINHAMENTO À ESQ */
   p.AlinhamentoEsq {
       font-size: 1.605351170568562vw;
       line-height: 2.0735785953177257vw;
   
       left: 38.12709030100334vw;
   }
   
   /* BOTÕES > ELEMENTO HTML FIXO */
   button {
     font-family: Alliance, sans-serif;
     font-weight: 700;
   
     display: block;
     position: absolute;
     bottom: 60px;
   
     padding: .5em 0;
     margin: 0 4vw;
   
     border-radius: 111px;
     border: 1px solid var(--black);
     background-color: var(--antwhite);
   }
   
   /* BOTÕES > JS */
   .btnHover {
     background-color: var(--black);
     color: var(--antwhite);
   }
   
   /* ICON > ARROW DOWN */
   #boot-icon, #boot-icon2 {
   background-color: var(--antwhite);
   margin: 0 1.2em;
   }

   .bi-arrow-left-circle {
   color: var(--black);
   }
   
   /* ICON > ARROW DOWN > JS // HOVER */
   .seta {
   background-color: var(--black);
   color: var(--antwhite);
   }
   
   /*------------------------------------------------------------------------------------------------------------------------------*/
   /* INDEX > FILTROS PARTE FIXA*/
   /* ASIDE > FILTROS */
   aside {
     position: fixed;
     top: 50%;
   }
   
   li {
     position: relative;
     padding: 1.2em 0;
   }
   
   .filtros {
     text-align: left;
     width: 12em;
     padding: .5em 1.2em .5em 1.2em;
   }
   
   .bi{
     background-color: var(--antwhite);
     margin-right: 1.5em;
   }
  /*------------------------------------------------------------------------------------------------------------------------------*/

  /* PÁGINA SOBRE */
    
  /* CAIXA COM AMBOS OS TÍTULOS TAGGAT E TAGLINE */
  #SecçãoTAGGATTAGLINE {
    border: solid 1pt black;
    background-color: #F0F0F0;

    margin-top: 16.915119363395226vh;
    left: 3vw;

    user-select: none;
  }

  #SecçãoTAGGATTAGLINE>article{
    display: inline-block;
  }

  /* TÍTULOS TAGGAT E TAGLINE */
  .TitulosPagSobre {
    display: inline-block;
    cursor: pointer;

    font-family: Alliance, sans-serif;
    font-weight: 700;

    font-size: 2.6755852842809364vw;
    line-height: 3.27vw;

    padding: 3.9787798408488064vh 6vw 3.9787798408488064vh 3vw;
  }

  /* BORDA DA CAIXA DE BAIXO */
  #SOBRENITCaixa{
    border-bottom: solid 1pt black;
    padding-bottom: 16.915119363395226vh;
  }
  /* TÍTULOS TAGGAT E TAGLINE */
  
  .TitulosPagSobreSelecionado {
    display: inline-block;
    cursor: pointer;

    font-family: Alliance, sans-serif;
    color: white;
    font-weight: 700;

    font-size: 2.6755852842809364vw;
    line-height: 3.27vw;

    padding: 3.9787798408488064vh 6vw 3.9787798408488064vh 3vw;
    background-color: black;
  }

  #ConteúdoTAGGATTAGLINE {
    display: none;
    background-color: black;
  }

  .TextoTAGGATTAGLINE{
    font-family: Alliance, sans-serif;
    color: white;

    font-size: 1vw;
    line-height: 2vw;
  }

  #TextoTAGGAT, #TextoTAGLINE{
    display: none;
    background-color: black;

    font-family: Alliance, sans-serif;
    font-weight: 300;
    font-size: 18pt;
    line-height: 2.07358vw;
    color: #D9D9D9;

    padding: 5% 0 5% 0;
    width: 60%;
    left: 3vw;
  }

  /* LINKS VISITADOS */
  a:visited {
    color: black;
  }

  /* FOOTER */

  footer div{
    display: inline-block;
    padding-left: 33%;
  }

  .FooterClass {
    padding: 16.915119363395226vh 3vw 16.915119363395226vh 0;
    font-size: 1.0702341137123745vw;
    line-height: 1.605351170568562vw;

    width: 45%;
  }

  .FooterClass p{
    font-family: Alliance, sans-serif;
    padding-bottom: 4.5092838196286475vh;
  }

  /* STRONG */
  strong{
    font-weight: 700;
  }

  .TAGGATCaixaPreto{
    background-color: black;
    border-style: none;
  }

  h2.TAGGATCaixaPreto{
    color: #D9D9D9;
  }

  #TAGGATMostraCaixa, #TAGLINEMostraCaixa{
    display: none;
    background-color: black;

    padding: 16.915119363395226vh 0;
  }

  section {
    margin: 0;
  }


  /*tentativas cenas*/

  .conteudoTAGGATTAGLINEshow{
    display: block;
  }

  .textoTAGGATshow{
    display: block;
  }

/*_________________________________PAGINA DO ARQUIVO______________________________*/



h1.alinhar {
  font-size: 6rem;
  line-height: 14vw;
  font-family: Alliance;
  font-weight: 700;
  padding-top: 12vh;
  padding-bottom: 5vw;
  padding-left: 15vh;
}



#list{

font-family: Alliance;
font-weight: 500;
}

#list > article  > figure {
display: none;

}


#list > article  >  figure > img{  

  height: 16vw;
  border: 20px solid #000;
  
}

#list > article {
display: grid;
grid-template-columns: repeat(9, 1fr);
box-sizing: border-box;
margin: 0rem auto;
grid-column-gap: 30px;
padding: 2vw 0;
border-top: 1px solid #000;
}



#list > article  > a {
grid-column: 5/8;
align-items: flex-start;
text-decoration-line: none;
background: rgba(0, 128, 0, 0.1);


}


.meta {
  grid-column: 8/10;
  float: right;

  
  
  }


#list  > article:hover {
  background-color: #000!important;
  }


  #list  > a {
    background-color: rgb(240, 240, 240)
    }
  
  
    a:link {
      color: #000;
      }
    



      #list  > article:hover > a > h1 {
        background-color: #000!important;
        color: #fff!important;
        }

        #list  > article:hover > .meta > span:nth-child(2){
          background-color: #000!important; 
          color: #fff!important;
          }

          #list  > article > .meta > span:first-child {
            color: #000;
            border-radius: 111px;
            padding: 2px 20px;
            border: 1px solid var(--black);
            background-color: var(--antwhite);
            font-weight: 700;

          }

          #list  > article > .meta > span:nth-child(2) {
      float:right;
      margin-right: 35px;

          }

          #list  > article:hover > .meta {
            background-color: #000!important;
            color: #fff!important;
            }
      
      
        span {
        text-transform: uppercase;
        }







/*_________________________________FIM DA PAGINA DO ARQUIVO______________________________*/